/*--------------------------------------------------------------------------------------
  
  M O V I E C L U B . S E - C S S
  
  Filename:			style-mobile.css
  Description:		A CSS for the mobile version of the web page.
  URL:				http://www.movieclub.se
  Author:			Jocke, Thomas, Jesper and Marcus (Nackademin MA12)
  
  ====STRUCTURE=======================================================================
  
  Type:				Fluid (width: auto)
  Layout:			Simple 1 Column-design
  Areas:			Header (with navigation) and Content
 
 --------------------------------------------------------------------------------------*/

/* BODY, TYPES AND LINKS
-------------------------------------*/

body {
	background-image: none;
	margin: 0 0 30px 0;
}


/* FORMS
-------------------------------------*/

.recommend-button, .submit-button, .rate-button {
	height: 30px;
	width: 265px;
}

.search-field {
    padding:5px 8px;
    width:250px;
}

/* WRAPPER
-------------------------------------*/

.site-wrapper {
	width: auto;
}

/* HEADER
-------------------------------------*/

.header {
	width: auto;
}

.login-nav {
	text-align: center;
	width: auto;
	padding-top: 10px;
}

.menu {
	background-image: none;
	float: none;
	height: 40px;
	text-align: center;
	width: auto;
}

#screen-logo {
	display: none;
}

#mobile-logo {
	display: inline;
}


/* NAVIGATION
-------------------------------------*/

.nav-screen-wrapper {
	display: none;
}

.nav-mobile-wrapper {
	background-color: #333333;
	display: inline;
	float: left;
	width: 100%;
}

.nav-mobile-wrapper ul {
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
}

.nav-mobile-wrapper li {
	display: inline;
	font-size: 11pt;
	list-style-type: none;
	text-align: center;

}

.menu-button-wrapper {
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
	background-color: #1F1F1F;
	display: inline;
	padding: 7px;
}

.menu-button-wrapper a {
	color: #f2c700;
}

.logo {
	background-color: #333333;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#1F1F1F));
	background: -moz-linear-gradient(top,  #333333,  #1F1F1F);
	border-bottom: 1px solid #474747; 
	border-top: 1px solid #474747;
	float: none;
	height: 48px;
	padding-top: 5px;
	text-align:center;
	width: auto;
	
}

#screen-logo {
	display: none;
}

#mobile-logo {
	display: inline;
}

/* CONTENT
-------------------------------------*/

.content-wrapper, .content-description, .content-text  {
	float: none;
	margin: 0 10px 0 10px;
	width: auto;
}

/* MOVIES-CONTENT
-------------------------------------*/

.movies-wrapper, .movies-rating-center-wrapper {
	float: left;
	width: auto;
	
}

.movies-info {
	float: none;
	width: auto;
}

.movies-poster {
	float: left;
	margin: 0 5px 0 0;
	width: auto;
}

.movies-rating-wrapper {
	float: left;
	width: auto;
}

.movies-rating-imdb, .movies-rating-movieclub {
	float: left;
	text-align: center;
	width: 100%;
}

.movies-rating-seperator {
	display: none;
}

.movies-seperator {	
	float: left;
	height: auto;
	text-align: center;
	width: 100%;
}

.search-form, .recommend-button-wrapper {
	float: none;
	width: auto;
}

.pagination {
	float: left;
	width: 75%;
}

.pagination li {
	text-align: left;
}

/* DIVS FOR INDEX AND REGISTER PAGE
-------------------------------------*/

.index-wrapper {
	margin-top: 0px;
}

.index-wrapper, .index-logo {
	width: 320px;	
}

/* OTHER
-------------------------------------*/

.slider { 
	width: 260px;
	margin-left: auto;
	margin-right: auto;
}
